<p>example works!</p>
<div>
    <button (click)="connectSupabase()">Connect to supabase client</button>
</div>
<div>
    <button (click)="connectFirebaseSSE()">Connect to firebase SSE</button>
</div>
<div>
    <button mat-raised-button (click)="createBucket()">Crate Bucket</button>
</div>
<div>
    <input type="file" (change)="fileChanged($event)">
    <button mat-raised-button (click)="uploadTest()">UpFile</button>
</div>
<div>
    <mat-form-field>
        <input matInput type='text' #myInput>
    </mat-form-field>
    <button mat-raised-button (click)="broadcast(myInput.value)">Broadcast</button>
</div>
<div *ngIf="supabaseView.length">
    <div>Supabase Outputs :</div>
    <div *ngFor="let payload of supabaseView">
        > {{payload}}
    </div>
</div>